/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    background-color: #444;
    padding: 0.5rem;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  main {
    padding: 2rem;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  button a {
    text-decoration: none;
    color: white;
  }
  .alcher{
    width: 20vw;
  }
  